<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="javascripts/angular.min.js"></script>

    <script type="text/javascript" src="javascripts/angular.js"></script>



    <title>Finance</title>


  </head>
  <body>
    <form class="form-grouped col-md-4 col-md-offset-4" style="margin-top: 50px;border:1px solid black;border-width: 1px;border-radius: 3%">
      <h2>Add person</h2>
      <label>Name:</label>
      <input type="text" class="form-control">
    </form>


    <div class="container">
      <table class="table table-striped" >
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>phno</th>
            <th>money given</th>
            <th>money recieved</th>
            <th>balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
