<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NEW USER</h1>
    <form>
    	<label>username:</label>
    	<input type="text">
    </form>
  </body>
</html>
